---
layout: default
title: Gartner Evaluated GitLab as a Visionary in Magic Quadrant for Enterprise Agile Planning Tools
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Gartner Evaluated GitLab as a Visionary in MQ for EAPT

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p In this report, GitLab is recognized as a “visionary." We believe the placement is based on our roadmap which reflects our strong ideas about where the market is going and what will help our customers succeed.

            %h3 Read the 2019 Gartner Magic Quadrant for EAPT to:
            %ul
              %li Understand the core capabilities and features of Enterprise Agile Planning Tools
              %li Learn Gartner’s view of how the EAPT segment is evolving
              %li Explore how GitLab performs in relation to other leading EAPT vendors
              %li Evaluate EAPT vendors in the space - by industry, region, and more

            %p Download this complimentary report today to discover why Gartner has recognized GitLab as a Visionary in the 2018 MQ for EAPT!

          .font-small
            %p Gartner does not endorse any vendor, product or service depicted in its research publications, and does not advise technology users to select only those vendors with the highest ratings or other designation. Gartner research publications consist of the opinions of Gartner’s research organization and should not be construed as statements of fact. Gartner disclaims all warranties, express or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.

            %p Gartner, Magic Quadrant for Enterprise Agile, Keith Mann, Mike West, Thomas Murphy, Nathon wilson, 18 April 2019

        .col-md-4.col-md-offset-1
          %h2.margin-top0 Download the report
          %p If you don't see the form, try temporarily disabling ad blockers or use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1002
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1002, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
        .confirmform{ style: "visibility:hidden;" }
          .col-md-4.col-md-4.col-md-offset-1
            %h3 <a href="https://www.gartner.com/doc/reprints?id=1-6K9591X&ct=190423&st=sb">Click here to download the report.</a>
            %p You will also receive an copy of the report sent to your inbox shortly.
